In [15]:
import pandas as pd

In [1]:
import seaborn as sns

In [2]:
tips = sns.load_dataset('tips')

In [7]:
x = tips.groupby('sex').mean()

In [8]:
x

        total_bill       tip      size
sex
Male     20.744076  3.089618  2.630573
Female   18.056897  2.833448  2.459770

In [9]:
x['ration']= x.tip/x.total_bill

In [10]:
x

        total_bill       tip      size    ration
sex
Male     20.744076  3.089618  2.630573  0.148940
Female   18.056897  2.833448  2.459770  0.156918

In [18]:
data = pd.read_csv('/Users/USER/Documents/g/h.csv',engine = 'python', encoding='cp949')

In [82]:
data.시군구.values

array(['종로구', '종로구', '종로구', ..., '세종', '세종', '세종'], dtype=object)

In [74]:
t = data.groupby(['시도']).mean()

In [75]:
t.sort_values('사망자수', ascending = False, inplace = True)

In [77]:
t.mean(axis=0)

발생건수    111.428480
사망자수      2.032622
부상자수    167.667373
중상       37.397630
경상      119.402767
부상신고     10.866975
dtype: float64

In [52]:
data.skew()

발생건수    3.765094
사망자수    3.820251
부상자수    3.778984
중상      3.541237
경상      3.847238
부상신고    5.351853
dtype: float64

In [54]:
data.kurtosis()

발생건수    17.881821
사망자수    18.509412
부상자수    17.783772
중상      15.962331
경상      18.220330
부상신고    40.538785
dtype: float64

In [63]:
xx = data.select_dtypes('int64').copyy

In [ ]:
xx.to_